{% extends '_base.html' %}
{% load static %}

{% block title %}Parto Office{% endblock %}
{% block body %}
    <!--
    <div>

    </div>
-->

    <div class="container">
        <div id="main" class="hidden">
            <span id="page-title"><h2>Projects</h2></span>
            <div id="projects-container">
                <div id="page-header" class="projects-header"></div>
                <div id="projects-content">
                    <button class="cell" data-id="1" style="background-image: url('static/img/4.png')">
                        <div class="cell-cover">
                            <span class="cell-title">title</span>
                            <span class="cell-place">place</span>
                            <span class="cell-date">date</span>
                        </div>

                    </button>
                    <button class="cell" data-id="2" style="background-image: url('static/img/4.png')">
                        <div class="cell-cover">
                            <span class="cell-title">title</span>
                            <span class="cell-place">place</span>
                            <span class="cell-date">date</span>
                        </div>

                    </button>
                    <button class="cell" data-id="3" style="background-image: url('static/img/4.png')">
                        <div class="cell-cover">
                            <span class="cell-title">title</span>
                            <span class="cell-place">place</span>
                            <span class="cell-date">date</span>
                        </div>

                    </button>
                    <button class="cell" data-id="4" style="background-image: url('static/img/3.jpg')">
                        <div class="cell-cover">
                            <span class="cell-title">title</span>
                            <span class="cell-place">place</span>
                            <span class="cell-date">date</span>
                        </div>

                    </button>
                    <button class="cell" data-id="5" style="background-image: url('static/img/3.jpg')">
                        <div class="cell-cover">
                            <span class="cell-title">title</span>
                            <span class="cell-place">place</span>
                            <span class="cell-date">date</span>
                        </div>

                    </button>
                    <button class="cell" data-id="6" style="background-image: url('static/img/3.jpg')">
                        <div class="cell-cover">
                            <span class="cell-title">title</span>
                            <span class="cell-place">place</span>
                            <span class="cell-date">date</span>
                        </div>

                    </button>
                    <button class="cell" data-id="7" style="background-image: url('static/img/3.jpg')">
                        <div class="cell-cover">
                            <span class="cell-title">title</span>
                            <span class="cell-place">place</span>
                            <span class="cell-date">date</span>
                        </div>

                    </button>
                    <button class="cell" data-id="8" style="background-image: url('static/img/3.jpg')">
                        <div class="cell-cover">
                            <span class="cell-title">title</span>
                            <span class="cell-place">place</span>
                            <span class="cell-date">date</span>
                        </div>

                    </button>

                    <div id="page-number">1 2 3</div>

                </div>
            </div>
        </div>
        <div id="side-bar" class="side-bar hidden">
            <div>
                <a id="logo-btn">
                    <div id="logo">
                    <span id="partow-line">
                        <span id="parto">part</span>
                        <span id="part-o"></span>
                        <span id="w">w</span>
                     </span>
                        <span id="office-line">
                        <span id="o-ffice"></span>
                        <span id="office">ffice</span>
                    </span>
                    </div>
                </a>
                <ul id="menu" role="menu">
                    <li role="none">
                        <span></span>
                        <button type="button" role="menuitem" data-action="projects">Projects</button>
                    </li>
                    <li role="none">
                        <span></span>
                        <button type="button" role="menuitem" data-action="production">Production</button>
                    </li>
                    <li role="none">
                        <span></span>
                        <button type="button" role="menuitem" data-action="design-order">Design Order</button>
                    </li>
                    <li role="none">
                        <span></span>
                        <button type="button" role="menuitem" data-action="education">Education</button>
                    </li>
                </ul>
            </div>
            <div id="icons">icons</div>
        </div>

        <!-- Landing -->
        <div id="logo-container" class="preload">
            <div id="xcontainer">
                <div id="circles">
                    <div class="cir" id="cir1"></div>
                    <div class="cir" id="cir2"></div>
                    <div class="cir" id="cir1-2"></div>
                    <div class="cir" id="cir2-2"></div>
                </div>
                <div class="parto"><h1>part</h1></div>
                <div class="w"><h1>w</h1></div>
                <div class="office"><h1>ffice</h1></div>
                <div id="lang">
                    <a href="#" class="lang-link">En</a> |
                    <a href="#" class="lang-link">Fa</a>
                </div>
            </div>
        </div>
        <div class="wipe"></div>
        {#        <div id="ghost-logo-container">#}
        <div id="ghost-logo">
            <span id="partow-line-ghost">
                        <span id="parto-ghost">part</span>
                        <span id="part-o-ghost"></span>
                        <span id="w-ghost">w</span>
                     </span>
            <span id="office-line-ghost">
                        <span id="o-ffice-ghost"></span>
                        <span id="office-ghost">ffice</span>
                    </span>
        </div>
        {#        </div>#}
    </div>

    <!-- templates -->
    <template id="office-menu">
        <li role="none"><span></span>
            <button type="button" role="menuitem" data-action="projects">Projects</button>
        </li>
        <li role="none"><span></span>
            <button type="button" role="menuitem" data-action="production">Production</button>
        </li>
        <li role="none"><span></span>
            <button type="button" role="menuitem" data-action="design-order">Design Order</button>
        </li>
        <li role="none"><span></span>
            <button type="button" role="menuitem" data-action="education">Education</button>
        </li>
    </template>

    <template id="parto-menu">
        <li role="none"><span></span>
            <button type="button" role="menuitem" data-action="description">Description</button>
        </li>
        <li role="none"><span></span>
            <button type="button" role="menuitem" data-action="events">Events</button>
        </li>
        <li role="none"><span></span>
            <button type="button" role="menuitem" data-action="contacts">Contacts</button>
        </li>
        <li role="none"><span></span>
            <button type="button" role="menuitem" data-action="jobs">Jobs</button>
        </li>
    </template>

    {% include 'portfolio/partials/office/projects.html' %}
    {% include 'portfolio/partials/office/production.html' %}

    {% include 'portfolio/partials/common/detail.html' %}
    {% include 'portfolio/partials/parto/description.html' %}
    {% include 'portfolio/partials/parto/events.html' %}
    {% include 'portfolio/partials/parto/contacts.html' %}
    {% include 'portfolio/partials/parto/jobs.html' %}


    <template id="design-order-section">
        <span id="page-title"><h2>Design Oreder</h2></span>
        <div id="design-order-container">
            <div id="page-header" class="design-order-header">Step 1: Contact information</div>
            <div id="design-order-content">
                <div class="cell">cell</div>
                <div class="cell">cell</div>
                <div class="cell">cell</div>
                <div class="cell">cell</div>
                <div class="cell">cell</div>
                <div class="cell">cell</div>
                <div id="page-number">1 2 3</div>

            </div>
        </div>
    </template>

    <template id="education-section">
        <span id="page-title"><h2>Education</h2></span>
        <div id="education-container">
            <div id="page-header" class="education-header"></div>
            <div id="education-content">
                <div class="cell">cell</div>
                <div class="cell">cell</div>
                <div class="cell">cell</div>
                <div class="cell">cell</div>
                <div class="cell">cell</div>
                <div class="cell">cell</div>
                <div id="page-number">1 2 3</div>

            </div>
        </div>
    </template>







    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/landing-animation-script.js' %}"></script>
    <script src="{% static 'js/hamburger.js' %}"></script>

{% endblock body %}
