{% load static %}
<template id="contacts-section">
    <span id="page-title"><h2>Contacts</h2></span>
    <div id="contacts-container">
        <div id="page-header" class="contacts-header"></div>
        <div id="contacts-content">
            <div class="empty-col"></div>
            <div class="content-col">
                <p><span class="label">Mobile: </span><span class="value">(+98) 990-169-9919</span></p>
                <p><span class="label">Landline: </span><span class="value">(+98) 990-169-9919</span></p>
                <p><span class="label">Email: </span><span class="value">partorahimi@gmail.com</span></p>
            </div>


        </div>
    </div>
</template>