{% load static %}
<template id="description-section">
    <span id="page-title"><h2>Description</h2></span>
    <div id="description-container">
        <div id="page-header" class="description-header"></div>
        <div id="description-content">
            <div class="image-col">
                <img src="static/img/3.jpg" alt="Description Image" class="description-image">
                <a class="download-cv">
                    <img src="static/icons/download.svg" alt="downlaod icon" class="icon download-icon">
                    <p class="download-text">- Download CV</p>
                </a>
            </div>
            <div class="caption-col">
                <p class="description-caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad, amet
                    autem commodi consequuntur delectus exercitationem explicabo ipsam iure magni, molestiae nobis quasi
                    qui quidem quod vel vitae. Ad aspernatur blanditiis ducimus eaque enim excepturi fugiat hic incidunt
                    libero non quibusdam quisquam repellendus saepe suscipit temporibus vitae, voluptatum. Dolorem,
                    ex.
                </p>
            </div>
        </div>
    </div>
</template>
