{% load static %}
<template id="jobs-section">
    <span id="page-title"><h2>Jobs</h2></span>
    <div id="jobs-container">
        <div id="page-header" class="jobs-header">
            <div class="empty-col"></div>
            <div class="col">Please enter your details:</div>
            </div>
        <div id="jobs-content">
            <div class="description-col"><p class="jobs-description-content">Speculative application for <span class="site-name">PartOOffice.</span></p></div>
            <div class="input-col">
                <form id="jobs-form" data-endpoint="/api/jobs/create/" method="post">
                    {% csrf_token %}
                    <input type="text" class="form-item" id="jobs-fullname" name="name" placeholder="your full name">
                    <input type="email" class="form-item" id="jobs-email" name="email" placeholder="your Email">
                    <input type="phone" class="form-item" id="jobs-phone" name="phone_number" placeholder="your Phone number">
                    <button type="submit" class="form-item" id="jobs-submit">Save</button>
                    <p class="jobs-status" id="jobs-status" aria-live="polite"></p>
                </form>
            </div>

        </div>
    </div>
</template>