/*@font-face {*/
/*    font-family: 'YourFontName'; !*a name to be used later*!*/
/*    src: url('http://domain.example/fonts/font.ttf'); !*URL to font*!*/
/*}*/


:root {
    --dark-teal: #002A33FF;
    --medium-gray: #668085;
    --light-gray: #99aaad;
    --very-light-gray: #ccd4d6;
    --white: white;
    --text-color: #4d4d4d;
    --bg-color: #fffbf2;
}

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    background: none;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    /*font-family: Raleway;*/
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--dark-teal);
}

h3 {
    font-size: 14px;
    font-weight: 400;
}

.icon {
    /*width: 24px;*/
    height: 12px;
}

.container {
    background-color: var(--bg-color);
    display: flex;
}

#main, .side-bar {
    /*height: 100%;*/
    min-height: calc(100vh - 50px);
}

#main {
    width: calc(100vw - 180px);
    height: 100%;
    margin-top: 50px;
    margin-left: 50px;

}

.side-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dark-teal);
    width: 180px;
}

#ghost-logo-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 100%;
}

#logo {
    display: flex;
    flex-direction: column;

    font-size: 42px;
    font-weight: 800;
    margin-top: 50px;
}

#ghost-logo {
    display: flex;
    flex-direction: column;
    font-size: 42px;
    font-weight: 800;
    margin-top: 50px;
    position: fixed;
    top: 0;
    right: 0;
    width: 273px;
    height: 100vh;
    clip-path: inset(0 100% 0 0);
    z-index: 21;
    /*animation: ghostLogo 3s forwards;*/
}


#partow-line, #office-line {
    display: flex;
    align-items: center;
    position: relative;
}

#partow-line-ghost, #office-line-ghost {
    display: flex;
    align-items: center;
    position: relative;
}

#partow-line {
    right: 103px;
}

#partow-line-ghost {
    left: 0px;
}

#office-line {
    right: 19px;
    line-height: 31px;
    height: 32px;

}

#office-line-ghost {
    left: 84px;
    line-height: 31px;
    height: 32px;

}

#parto {
    color: var(--dark-teal);
    box-sizing: border-box;
}

#parto-ghost {
    color: var(--very-light-gray);
    box-sizing: border-box;
}

#part-o {
    background-color: var(--light-gray);
    border-color: var(--light-gray);
}

#part-o-ghost {
    background-color: var(--very-light-gray);
    border-color: var(--very-light-gray);
}

#w {
    color: var(--light-gray);
}

#w-ghost {
    color: var(--very-light-gray);
}

#part-o, #o-ffice, #part-o-ghost, #o-ffice-ghost {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 100%;
    border-style: solid;
    border-width: 7px;
    width: 32px;
    height: 32px;
    margin: 0 4px;
}

#o-ffice {
    background-color: #ffffff;
    border-color: var(--light-gray);
}

#o-ffice-ghost {
    background-color: var(--very-light-gray);
    border-color: var(--very-light-gray);
}

#office {
    color: var(--white);
}

#office-ghost {
    color: var(--very-light-gray);
}

#menu {
    list-style-type: none;
    /*position: absolute;*/
    margin-top: 50px;
    /*margin-left: 20px;*/
    color: var(--white)

}

#menu li {
    display: flex;
    align-items: center;
    margin-bottom: 6px;

}

#menu span {
    display: inline-block;
    box-sizing: border-box;
    margin-right: 0.7rem;
    width: 0.6rem;
    height: 0.1rem;
    background-color: var(--light-gray);
}

li button {
    padding: 0px;
    font-size: 14px;
    font-weight: 400;
}

#icons {
    display: inline-block;
    margin-bottom: 50px;
    width: 5rem;
    height: 2rem;
    background-color: #ffdddd;

}

#page-title {
    display: flex;
    align-items: end;
    height: 37px;
    /*padding-top: 25px;*/
}

/*#projects-container, #events-container {*/
/*    width: 66.67%;*/
/*}*/
#page-header {
    margin-top: 24px;
    height: 20px;
}

#projects-content, #events-content {
    display: grid;
    grid-template-columns: repeat(4, 16.6667%);
    grid-gap: 0.5rem;

}

#contacts-content {
    display: grid;
    grid-template-columns: 16.6667% 33.34%;
    grid-gap: 0.5rem;

}

#jobs-content {
    display: grid;
    grid-template-columns: 16.67% 33.34%;
    grid-gap: 0.5rem;
}

.jobs-header {
    display: grid;
    grid-template-columns: 16.67% 33.34%;
    grid-gap: 0.5rem;
}

.site-name {
    color: var(--dark-teal);
    font-weight: 800;
}

#jobs-form {
    display: flex;
    flex-direction: column;
}

#jobs-form input {
    margin-top: 0.5rem;
    border-radius: 0;
    border: 2px solid var(--very-light-gray);
    background-color: var(--very-light-gray);
    color: var(--dark-teal);
}

#jobs-form input:focus {
    outline: none;
    border: 2px solid var(--light-gray);
    box-sizing: content-box;
}
#jobs-form input::placeholder {
  color: var(--light-gray)
}
.form-item {

}

#description-content {
    display: grid;
    grid-template-columns: 16.6667% 50%;
    grid-gap: 1rem;

}

#contacts-content {
    font-size: 0.75rem;
    font-weight: 600;
}

#contacts-content .label {
    color: var(--light-gray);
}

#contacts-content .value {
    color: var(--dark-teal);
}

.description-image {
    display: inline-block;
    width: 100%;
}

.download-cv {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    color: var(--dark-teal);
}

.download-text {
    margin-left: 0.2rem;
    font-size: 0.8rem;
    font-weight: 700;
}

.description-caption {
    font-size: 1rem;
}

/*#projects-content {*/
/*    display: none;*/
/*}*/

#projects-content .cell, #events-content .cell {
    aspect-ratio: 1;
    width: 100%;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#projects-content .cell:hover, #events-content .cell:hover {
    opacity: 1;
}

#projects-content .cell-cover, #events-content .cell-cover {
    background: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    height: 100%;
    opacity: 0;
    transition: all 0.4s ease-in;
}

#projects-content .cell-cover:hover, #events-content .cell-cover:hover {
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
}

.cell-title, .cell-place {
    align-self: flex-start;
}

.cell-date {
    margin-top: auto;
    align-self: flex-end;
}

/*#projects-content img, #events-content img {*/
/*    aspect-ratio: 1;*/
/*    width: 100%;*/
/*    !*min-width: 100%;*!*/
/*    !*aspect-ratio: 16 / 9;*!*/
/*    object-fit: cover;*/
/*}*/


#page-number {
    display: flex;
    justify-content: end;
    grid-column-start: 1;
    grid-column-end: 5;
}

.page-number {
    display: flex;
    align-items: center;
}

.page-number .dots {
    cursor: pointer;
    color: var(--light-gray);
    display: inline-block;
    box-sizing: border-box;
    line-height: 0px;
    height: 7px;
    /*border-radius: 100%;*/
    /*border-style: solid;*/
    /*border-width: 7px;*/
    /*width: 0.125rem;*/
    /*height: 0.125rem;*/
    padding: 0;
    margin: 0 0 0 3px;
}

.page-number button {
    color: var(--light-gray);
    padding: 0;
    margin: 0 0 0 6px;

}

.page-number button.active-number {
    color: var(--dark-teal);
}

#production-content, #details-content {
    width: 66.67%;
    height: 100%;

}


#production-content .actions, #production-content .docs, #details-content .actions, #details-content .docs {
    display: flex;
    align-items: center;
}

#production-content .actions, #details-content .actions {
    margin-top: 0.5rem;
    justify-content: space-between;
}

#production-content .application {
    margin-right: 0.5rem;
}

#production-content .caption, #details-content .caption {
    margin-top: 1rem;
    column-count: 2;
}

#slider-wrap {

    overflow: hidden;

}

#slides {
    display: flex;
    list-style-type: none;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;

}

#slides img {
    width: 100%;
    min-width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

button.prev, button.next {

    cursor: pointer;

    user-select: none;
}

/*button.prev:hover, button.next:hover {*/
/*    !*background: rgba(255, 255, 255, 0.9);*!*/
/*}*/

/*button.prev {*/
/*    left: 10px;*/
/*}*/

/*button.next {*/
/*    right: 10px;*/
/*}*/

/*logo motion*/

#logo-container {
    margin: 0px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    /*font-family: "Inter", sans-serif;*/

}


.wipe {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    background: var(--dark-teal);
    z-index: 20;
    transition: width 1.2s cubic-bezier(.77, 0, .18, 1);
}

#xcontainer {
    position: relative;
    width: 300px;
    height: 70px;
}

#circles {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 32px;
    height: 70px;
}

.cir {
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: var(--dark-teal);
    border-radius: 100%;
    z-index: 10;
}

#cir1 {
    top: 0px;
    animation: upcir 1s 1 ease-in-out;
}

#cir2 {
    top: 38px;
    animation: downcir 1s 1 ease-in-out;
}

.curtain {
    width: 166px;
    height: 42px;
    position: absolute;


}

.parto {
    position: absolute;
    width: 166px;
    height: 32px;
    overflow: hidden;
    top: 0;
    left: 0;
    margin: 0;
    border-radius: 16px;
    z-index: 8;
    animation: partoframe 0.5s 1s 1 ease-in-out forwards;

}

.parto h1 {
    top: 0px;
    margin-left: 166px;
    margin-top: -12px;
    font-size: 42px;
    font-weight: 800;
    color: var(--dark-teal);
    animation: parto 1s 0.7s 1 ease-in-out forwards;
}

.w {
    position: absolute;
    width: 166px;
    height: 32px;
    overflow: hidden;
    top: 0px;
    right: 0px;
    margin: 0px;
    /* background-color: aquamarine; */
    border-radius: 16px;
    z-index: 8;
}

.w h1 {
    opacity: 0;
    top: 0px;
    margin-top: -12px;
    margin-left: 36px;
    font-size: 42px;
    font-weight: 800;
    color: var(--light-gray);
    animation: w 0.5s 1.5s 1 ease-in forwards;
}

#cir1-2 {
    opacity: 0;
    background-color: var(--bg-color);
    width: 18px;
    height: 18px;
    top: 7px;
    margin-left: 7px;
    z-index: 11;
    animation: select1 2s 1s 1 ease-out forwards;
}

#cir2-2 {
    opacity: 0;
    background-color: #fffbf2;
    width: 18px;
    height: 18px;
    top: 45px;
    margin-left: 7px;
    z-index: 11;
    animation: select2 2s 2.5s 1 ease-out forwards;
}

.office {
    position: absolute;
    width: 166px;
    height: 32px;
    overflow: hidden;
    bottom: 0px;
    right: 0px;
    margin-left: 0px;
    border-radius: 16px;
    z-index: 8;

}

.office h1 {
    top: 0px;
    margin-left: -90px;
    margin-top: -10px;
    font-size: 42px;
    font-weight: 800;
    color: var(--dark-teal);
    animation: office 1s 2.2s 1 ease-in-out forwards;
}

#lang {
    position: absolute;
    bottom: 0px;
    left: 38px;
    z-index: 10;
    color: #668085;
    opacity: 0;
    animation: lang 0.5s 3.3s 1 forwards;
}

.lang-link {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    text-decoration: none;
    font-weight: 400;
    color: #668085;
    margin: 0 8px;
    transition: color 0.2s;
}

.lang-link:hover {
    color: var(--dark-teal);
    font-weight: 700;
}

/* Animations */
/* ---------------------------------------- */
@keyframes upcir {
    from {
        top: 19px;
    }
    to {
        top: 0px;
    }
}

@keyframes downcir {
    from {
        top: 19px;
    }
    to {
        top: 38px;
    }
}

@keyframes parto {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(-120px);
    }
}

@keyframes partoframe {
    from {
        height: 32px;
    }
    to {
        height: 40px;
    }
}

@keyframes w {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes select1 {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes select2 {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes office {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(126px);
    }
}

@keyframes lang {
    100% {
        opacity: 1;
    }

}

@keyframes showGhostLogo {
    0% {
        clip-path: inset(0 100% 0 0)
    }
    100% {
        clip-path: inset(0);
    }

}

@keyframes hideGhostLogo {
    0% {
        clip-path: inset(0)
    }
    100% {
        clip-path: inset(0 0 0 100%);
    }
}


/*old css*/

.x-primary {
    color: #04272e;
}

.x-bg-primary {
    background-color: #04272e;
}

.x-ms-n1 {
    margin-left: -0.975rem !important;
    margin-top: -0.775rem !important;
}

.x-ms-n5 {
    margin-left: -4.85rem !important;
}

.landing {
    top: 0px;
    left: 0px;

}

.split {
    position: absolute;
    top: 0;
    /*left: 0;*/

    transition: all 2s ease;
    height: 100%;


}

.half-split {
    position: absolute;
    top: 0;
    /*left: 0;*/

    transition: all 2s ease;
    height: 100%;


}

.half-split.right.second {
    width: 50%;

    right: 0;
}

.half-split.left.second {
    width: 50%;

    left: 0;
}

.half-split.second.expand {
    width: 0%;
}

.split.right {
    width: 100%;

    right: 0;
    background-color: #04272e;
    /*z-index: -1;*/
}

.split.right.expand {
    width: 0%;
}

.logo {
    /*font-family: 'Century Gothic Paneuropean', sans-serif;*/
    font-size: 30px;
}

.logo.center {
    position: absolute;
    top: 50vh;
    left: 50vw;
}


.circle {

    width: 30px;
    height: 30px;
    border-radius: 50%;

    /*z-index: 0 !important;*/

}

.deactivated {
    background-color: white;
    border: 0.15rem solid #04272e;
    /*z-index: 0 !important;*/

}

.active {
    background-color: #04272e;
    border: 0.15rem solid white;

}


.white-logo {

    /*width: 0;*/
    /*height: 100px;*/
    transition: 0.3s opacity;
    /*transition: ;*/
}

.white-logo.fade {
    opacity: 0%;

}

.primary-logo {
    transition: 0.2s opacity;
}

.primary-logo.fade {
    opacity: 0%;

}

.hidden {
    display: none !important;
    z-index: -1 !important;
}

.my-body {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.sidebar .nav-link.x-active {
    opacity: 0.6;
}

.loading-indicator {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.htmx-request .loading-indicator {
    opacity: 1;
}

.htmx-request.loading-indicator {
    opacity: 1;
}

.square-container {
    padding-top: 100%; /* Creates square ratio */
}

.square-container img {
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 0.6s ease-out;
    pointer-events: none;
}

.card:hover .card-overlay {
    opacity: 1;
}

.card:hover img {
    transform: scale(1.05);
}


/* Style the form */
#regForm {
    background-color: #ffffff;
    min-height: 150px;

    /*margin: 100px auto;*/
    /*font-family: Raleway;*/
    /*padding: 40px;*/
    /*width: 70%;*/
    /*min-width: 300px;*/
}

/*h1 {*/
/*    text-align: center;*/
/*}*/

.x-input {
    padding: 10px;
    /*height: 50%;*/
    width: 100%;
    font-size: 17px;
    /*font-family: Raleway;*/
    border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
}


#prevBtn {
    background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #04272e;
}

.x-btn-primary {
    background-color: #093f4a; /* Primary background color */
    color: white; /* White text */
    padding: 10px 20px; /* Padding */
    border: none; /* Remove border */
    border-radius: 1px; /* Rounded corners */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.x-btn-primary:hover {
    background-color: rgba(3, 54, 62, 0.85); /* Slightly darker on hover */
}

.x-btn-primary:active {
    background-color: #020f12; /* Even darker when clicked */
}

.x-btn-primary:focus {
    outline: none; /* Remove default focus outline */
    background-color: #020f12; /* Same as active state */
    box-shadow: 0 0 5px rgba(4, 39, 46, 0.5); /* Subtle shadow using primary color */
}

.x-btn-primary.clicked {
    background-color: #04272e; /* Background color after clicking */
}

/* Slider Custom CSS */

.slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    /*max-width: 300px;*/
    isolation: isolate;
}

.slider {
    display: flex;
    transition: transform 0.3s ease-in-out;
    width: 100%;
}

.slide {
    flex: 0 0 100%;
    min-width: 100%;
    scroll-snap-align: start;
}

.slider-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    z-index: 1;
}

.slider-button {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    /*padding: 5px 15px;*/
    cursor: pointer;
    border-radius: 10%;
    transition: opacity 0.3s ease;
    position: relative;
    z-index: 2;
    pointer-events: auto;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-button:hover {
    /*opacity: 0.8;*/
    background: rgba(0, 0, 0, 0.8);
}

/* project detail */
.project-detail h6,
.project-detail p {
    margin: 0;
}

.event-detail h6,
.event-detail p {
    margin: 0;
}


.project-slider-container {
    transition: height 0.7s ease;
}

.project-slide {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    pointer-events: none;
}

.project-slide.active {
    opacity: 1;
    pointer-events: auto;
}

.event-slider-container {
    transition: height 0.7s ease;
}

.event-slide {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    pointer-events: none;
}

.event-slide.active {
    opacity: 1;
    pointer-events: auto;
}

.slider-nav button {
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
}

.photo-counter {
    /*background: rgba(0, 0, 0, 0.7);*/
    /*backdrop-filter: blur(2px);*/
}


/* Mobile Menu Styles */
.x-mobile-menu {
    /*display: none;*/
    /*position: absolute;*/
    left: 0;
    right: 0;
    /*background-color: var(--x-bg-primary);*/
    /*z-index: 1000;*/
    padding: 1rem;
}

.mobile-menu.hambur-active {
    display: block;
}

.desktop-menu {
    display: none;
}

.hamburger {
    cursor: pointer;
}

.bar {
    display: block;
    background-color: #fff;
    width: 24px;
    /* The following 2 properties are essential in creating the "X" when the hamburger is clicked. If you change just 1 of the 2, then you need to find the proper combination for the other one */
    height: 2px;
    margin: 6px auto;

    /*    -webkit-transition: all 300ms ease;  */
    transition: all 300ms ease-in-out;
}

.hamburger.hambur-active .bar:nth-child(2) {
    opacity: 0
}

.hamburger.hambur-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.hambur-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.mobile-menu {
    position: fixed;
    left: -100%;
    top: 3.375em;
    flex-direction: column;
    background-color: rgba(38, 38, 38, 0.85);
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 750ms;
    z-index: 1000;
}

.mobile-menu.hambur-active {
    left: 0;
}

@media (min-width: 768px) {
    .mobile-menu {
        display: none !important;
    }

    .desktop-menu {
        display: block !important;
    }

    .hamburger {
        display: none;
    }
}