<div class="col-xxl-11 col-xl-10 col-lg-10 col-md-9 col-sm-12 col-12">


    <div class="main-content">

        {% include 'pages/partials/parto/description.html' %}

    </div>

    <div class="loading-indicator ">
loading...
{#        <div class="bg-primary">#}
{#            Loading...#}
{#            <div class="bg-white half-split left second"></div>#}
{#            <div class="x-bg-primary half-split right second"></div>#}
{##}
{#        </div>#}
    </div>

</div>
<div class="desktop-menu col-xxl-1 col-xl-2 col-lg-2 col-md-3 x-bg-primary">
    <!-- Fixed Sidebar for Desktop -->
    <div class="sidebar mt-5">
        <nav>
            <ul class="nav nav-bar flex-column">
                <li class="nav-item">
                    <a class="link-light nav-link x-active disabled"
                       id="description"
                       href=""
                       hx-get="{% url 'description' %}"
                       hx-target=".main-content"
                       hx-on:click="setActive(this)">Description</a>
                </li>
                <li class="nav-item">
                    <a class="link-light nav-link"
                       id="events"
                       href=""
                       hx-get="{% url 'event-list' %}"
                       hx-target=".main-content"
                       hx-indicator=".loading-indicator"
                       hx-on:click="setActive(this)">Events</a>
                </li>
                <li class="nav-item">
                    <a class="link-light nav-link"
                       id="contacts"
                       href=""
                       hx-get="{% url 'contacts' %}"
                       hx-target=".main-content"
                       hx-indicator=".loading-indicator"
                       hx-on:click="setActive(this)">Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="link-light nav-link"
                       id="jobs"
                       href=""
                       hx-get="{% url 'jobs' %}"
                       hx-target=".main-content"
                       hx-on:click="setActive(this)">Jobs</a>
                </li>
            </ul>
        </nav>
    </div>
</div>






