{% extends '_base.html' %}
{% load static %}

{% block title %}Parto Office{% endblock %}
{% block body %}

    <div class="container-fluid min-vh-100 gx-0 d-flex flex-column">

        <div class="row gx-0 ">
            <div class="col-xxl-11 col-xl-10 col-lg-10 col-md-9 col-sm-2 col-4">

            </div>
            <div class="col-xxl-1 col-xl-2 col-lg-2 col-md-3 col-sm-10 col-8 x-bg-primary text-light">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="logo" hx-get="{% url 'toggle' %}" hx-trigger="customEvent, click"
                         hx-target=".content"
                         _="on click toggle between .active and .deactivated on #parto
on click toggle between .active and .deactivated on #office
on click toggle between .d-none and .d-block on #office-menu
on click toggle between .d-none and .d-block on #parto-menu">
                        <div class="d-flex justify-content-start align-items-center mt-2 x-ms-n5">

                            <div class="x-primary">part</div>
                            <div id="parto" class=" circle active"></div>
                        </div>
                        <div class="d-flex justify-content-start align-items-center mt-0 x-ms-n1">


                            <div id="office" class="circle deactivated"></div>
                            <div class="">ffice</div>

                        </div>


                    </div>
                    <div class="me-5">
                        <!-- Mobile Menu -->
                        <div class="hamburger">
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </div>
                        <div class="mobile-menu">

                            <nav>
                                <ul id="parto-menu" class="d-block nav nav-bar flex-column">
                                    <li class="nav-item">
                                        <a class="link-light nav-link x-active disabled"
                                           id="description"
                                           href=""
                                           hx-get="{% url 'description' %}"
                                           hx-target=".main-content"
                                           hx-indicator=".loading-indicator"
                                           hx-on:click="setActive(this)">Description</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="link-light nav-link"
                                           id="events"
                                           href=""
                                           hx-get="{% url 'event-list' %}"
                                           hx-target=".main-content"
                                           hx-indicator=".loading-indicator"
                                           hx-on:click="setActive(this)">Events</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="link-light nav-link"
                                           id="contacts"
                                           href=""
                                           hx-get="{% url 'contacts' %}"
                                           hx-target=".main-content"
                                           hx-indicator=".loading-indicator"

                                           hx-on:click="setActive(this)">Contacts</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="link-light nav-link"
                                           id="jobs"
                                           href=""
                                           hx-get="{% url 'jobs' %}"
                                           hx-target=".main-content"
                                           hx-on:click="setActive(this)">Jobs</a>
                                    </li>
                                </ul>
                                <ul id="office-menu" class="d-none nav nav-bar flex-column">
                                    <li class="nav-item">
                                        <a class="link-light nav-link x-active disabled"
                                           id="projects"
                                           href=""
                                           hx-get="{% url 'project-list' %}"
                                           hx-target=".main-content"
                                           hx-indicator=".loading-indicator"
                                           hx-on:click="setActive(this)">Projects</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="link-light nav-link"
                                           id="production"
                                           href=""
                                           hx-get="{% url 'product-retrieve' %}"
                                           hx-target=".main-content"
                                           hx-indicator=".loading-indicator"
                                           hx-on:click="setActive(this)">Production</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="link-light nav-link"
                                           id="design-order"
                                           href=""
                                           hx-get="{% url 'design-create' %}"
                                           hx-target=".main-content"
                                           hx-indicator=".loading-indicator"
                                           hx-on:click="setActive(this)">Design order</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="link-light nav-link"
                                           id="education"
                                           href=""
                                           hx-get="{% url 'education' %}"
                                           hx-target=".main-content"
                                           hx-on:click="setActive(this)">Education</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gx-0 content flex-grow-1">

            {% include 'pages/partials/parto/index.html' %}


        </div>
        <!-- LOADING -->
        {#        <div class="loading-indicator ">#}

{#loading...#}
{#                </div>#}

        <!-- Landing -->
{#                <div class="position-absolute w-100 h-100 gx-0 top-0 start-0 d-flex splash-bg">#}
{##}
{#                    <div class="test-trigger"></div>#}
{#                    <div class="bg-white half-split left second"></div>#}
{#                    <div class="x-bg-primary half-split right second"></div>#}
{##}
{#                </div>#}
{#                <div class="position-absolute w-100 h-100 gx-0 top-0 start-0 primary-logo">#}
{##}
{#                    <div class="position-relative w-100 h-100">#}
{#                        <img class="position-absolute top-50 start-50 translate-middle test-logo open"#}
{#                             src="{% static 'icons/logo-primary.svg' %}" alt="logo-icon">#}
{#                    </div>#}
{#                </div>#}
{#                <div class=" split right "></div>#}
{#                <div class="position-absolute w-100 h-100 gx-0 top-0 start-0 white-logo">#}
{##}
{#                    <div class="position-relative w-100 h-100">#}
{#                        <img class="position-absolute top-50 start-50 translate-middle test-logo open"#}
{#                             src="{% static 'icons/logo-white.svg' %}" alt="logo-icon">#}
{#                    </div>#}
{#                </div>#}


    </div>


{#        <script src="{% static 'js/landing-animation-script.js' %}"></script>#}
    <script src="{% static 'js/hamburger.js' %}"></script>

{% endblock body %}
