{% load static %}
<template id="details-section">
    <span id="page-title"><h2>details</h2></span>
    <div id="details-container">
        <div id="page-header" class="details-header"><span>khat</span> planned 2024</div>
        <div id="details-content">
            <div id="slider-wrap">
                <div id="slides">
                    <img src="static/img/1.png">
                    <img src="static/img/6.gif">
                    <img src="static/img/7.gif">
                    <img src="static/img/8.gif">
                    <img src="static/img/2.jpg">
                    <img src="static/img/3.jpg">
                    <img src="static/img/4.png">
                    <img src="static/img/5.jpg">
                </div>
            </div>
            <div class="actions">
                <div class="docs">
                    <a class="back" id="back">back</a>
                </div>
                <div class="page-number">
                    <button class="prev" id="armin-prev"><i class="fa-sharp fa-solid fa-chevron-left"></i></button>
                    <button class="slider-btns active-number" id="image-one" data-index="0">1</button>
                    <span class="dots">.</span>
                    <button class="slider-btns" id="image-two" data-index="1">2</button>
                    <span class="dots">.</span>
                    <button class="slider-btns" id="image-three" data-index="2">3</button>
                    <button class="next" id="armin-next"><i class="fa-sharp fa-solid fa-chevron-right"></i></button>
                </div>
            </div>
            <p class="caption">
                dfsgdghthn amet, consectetur adipisicing elit. A alias architecto dignissimos facilis
                itaque nisi non, odio possimus quam veritatis! Debitis dicta dolor dolore eius, eveniet
                exercitationem fuga fugiat incidunt invenسیبسبسهخب شسیتن jskdlg sdfjsjodjkldfg sdfjop fjopsero.
            </p>

        </div>
    </div>
</template>

<template id="captions">
    <p>dfsgdghthn amet, consectetur adipisicing elit. A alias architecto dignissimos facilis
        itaque nisi non, odio possimus quam veritatis! Debitis dicta dolor dolore eius, eveniet
        exercitationem fuga fugiat incidunt invenسیبسبسهخب شسیتن jskdlg sdfjsjodjkldfg sdfjop fjopsero.</p>

    <p>ewrwfe werfw lor sit amet, consectetur adipisicing elit. A alias architecto dignissimos facilis
        itaque nisi non, odio possimus quam veritatis! Debitis dicta dolor dolore eius, eveniet
        exercitationem fuga sduhf sdfnksj fhesjkfskdjlf oifhwe ofhwshf wskldfsf sjkfns kjfs fnf sfjks khdlghate!
        Aliquam, at vero.</p>

    <p>wertg w4t wfg wer wrf sit amet, consectetur adipisicing elit. A alias architecto dignissimos facilis
        itaque nisi non, odio possimus quam veritatis! Debitis dicta dolor dolore eius, eveniet
        exercitationem fuga fugiat incidunt invensertwej h kiwerfh iowwl wjhnfo hwnwl hkfwioh wfh wf sfhskl f.</p>
</template>
