{% load static %}

<template id="projects-section">
    <span id="page-title"><h2>Projects</h2></span>
    <div id="projects-container">
        <div id="page-header" class="projects-header"></div>
        <div id="projects-content">
            <button class="cell" data-id="1" style="background-image: url('static/img/4.png')">
                <div class="cell-cover">
                    <span class="cell-title">title</span>
                    <span class="cell-place">place</span>
                    <span class="cell-date">date</span>
                </div>

            </button>
            <button class="cell" data-id="2" style="background-image: url('static/img/4.png')">
                                <div class="cell-cover">
                    <span class="cell-title">title</span>
                    <span class="cell-place">place</span>
                    <span class="cell-date">date</span>
                </div>

            </button>
            <button class="cell" data-id="3" style="background-image: url('static/img/4.png')">
                                <div class="cell-cover">
                    <span class="cell-title">title</span>
                    <span class="cell-place">place</span>
                    <span class="cell-date">date</span>
                </div>

            </button>
            <button class="cell" data-id="4" style="background-image: url('static/img/3.jpg')">
                                <div class="cell-cover">
                    <span class="cell-title">title</span>
                    <span class="cell-place">place</span>
                    <span class="cell-date">date</span>
                </div>

            </button>
            <button class="cell" data-id="5" style="background-image: url('static/img/3.jpg')">
                                <div class="cell-cover">
                    <span class="cell-title">title</span>
                    <span class="cell-place">place</span>
                    <span class="cell-date">date</span>
                </div>

            </button>
            <button class="cell" data-id="6" style="background-image: url('static/img/3.jpg')">
                                <div class="cell-cover">
                    <span class="cell-title">title</span>
                    <span class="cell-place">place</span>
                    <span class="cell-date">date</span>
                </div>

            </button>
            <button class="cell" data-id="7" style="background-image: url('static/img/3.jpg')">
                                <div class="cell-cover">
                    <span class="cell-title">title</span>
                    <span class="cell-place">place</span>
                    <span class="cell-date">date</span>
                </div>

            </button>
            <button class="cell" data-id="8" style="background-image: url('static/img/3.jpg')">
                                <div class="cell-cover">
                    <span class="cell-title">title</span>
                    <span class="cell-place">place</span>
                    <span class="cell-date">date</span>
                </div>

            </button>
            
            <div id="page-number">1 2 3</div>

        </div>
    </div>
</template>



